<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Biscuit Thickness</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/biscuit.css" />
  </head>
  <body>
    <h1>Biscuit Thickness (latest 500 records)</h1>

    <div id="controls">
      <%- include("partials/_product-dropbox") %>
      <%-include("partials/_countdown-control") %>
      <%-include("partials/_hide-manual-control") %>
    </div>

    <div class="collapse" id="manual-control">
      <div class="controls"><%- include("partials/_datetimepicker") %></div>
      <div class="controls">
        <table id="limitsTable">
          <thead>
            <tr>
              <th></th>
              <th>LCL</th>
              <th>UCL</th>
              <th>MEAN</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Thickness</b></td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  id="thicknessLCL"
                  value=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  id="thicknessUCL"
                  value=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  id="thicknessMean"
                  value=""
                />
              </td>
              <!-- Merge this cell across 2 rows -->
              <td
                rowspan="1"
                style="text-align: center; vertical-align: middle"
              >
                <button id="applyLimitsBtn">Apply to Chart</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Loading Spinner Partial -->
    <%- include("partials/loading") %>

    <!-- Chart Container -->
    <div id="chart" style="height: 500px"></div>

    <script>
      var currentType = "<%= type %>";
    </script>
    <script src="/js/biscuit.js"></script>
  </body>
</html>
