<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Diecasting Chart</title>
    <link rel="stylesheet" href="/libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/pps-single.css" />
    <script src="/libs/echarts/echarts.min.js"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="/libs/material-icons/material-icons.css" />
    <script src="/libs/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <h1>壓鑄機(壓力、速度、位置)曲線圖(單shot)</h1>

    <%- include("partials/loading") %>

    <div id="controls">
      <%- include("partials/_product-dropbox") %>

      <button id="prevBtn">⬅ 上一個</button>
      <button id="nextBtn">下一個 ➡</button>
      <%- include("partials/_countdown-control") %> <%-
      include("partials/_auto-carousel-checkbox") %>
    </div>

    <div id="datapicker-control" class="collapse">
      <%- include("partials/_datetimepicker") %>

      <div id="sn-control" class="form-group">
        <label for="snInput">雷雕碼:</label>
        <input type="text" id="snInput" placeholder="輸入雷雕瑪" />
        <button type="submit" id="snSearchBtn" class="btn">查詢</button>
      </div>
    </div>

    <div id="chart"></div>

    <script src="/js/pps-single.js"></script>
  </body>
</html>
