<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Max Pressure vs Max Speed</title>
  <link rel="stylesheet" href="/css/psmax.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <h1>Max Pressure vs Max Speed (Latest 500 Shots)</h1>

  <!-- Loading Spinner -->
  <%- include("partials/loading") %>

  <!-- Main Content (hidden until data loaded) -->
  <div id="main-content" style="display:none;">
    <div id="productSelectBox">
      <label for="productSelect"><b>Select Product:</b></label>
      <select id="productSelect">
        <% ["LL","LR","ML","MR","ZP"].forEach(p => { %>
          <option value="<%= p %>" <%= p === type ? "selected" : "" %>><%= p %></option>
        <% }) %>
      </select>

       <span id="countdown">Refreshing in: -s</span>
      <button id="refreshControl" title="Pause/Start">
        <span class="material-icons" id="refreshIcon">pause</span>
      </button>
    </div>

      <div class="controls">
        <%- include("partials/_datetimepicker") %>
      </div>

    <div id="chart"></div>
    <div id="rangeLabel"></div>
    <div id="timeSlider"></div>

    <table id="statsTable">
      <thead>
        <tr>
          <th>Product</th>
          <th>Status</th>
          <th>Count</th>
          <th>Total</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

<script src="/js/psmax.js"></script>
</body>
</html>
